/*-- MUSIC SECTION --*/
.music {
    margin-top: 0;
}

.musicGrid {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.music h5 {
    font-size: 1.6rem; 
    margin-bottom: 15px;
    color: #fff;
}

.musicBox {
    display: flex; 
    align-items: center; 
    background-color: #1a1d24; 
    border-radius: 10px; 
    padding: 15px;
    margin: 0; 
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transition: .3s ease;
    gap: 15px;
}

.musicBox:hover {
    background-color: #23272f;
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.musicBox img {
    width: 140px; 
    aspect-ratio: 16 / 9;
    border-radius: 8px; 
    object-fit: cover; 
}

.musicInfo {
    display: flex;
    flex-direction: column;
    flex: 1; 
    gap: 6px;
}

.musicInfo h4 {
    font-size: 16px; 
    margin: 0; 
    font-weight: bold;
    color: #fff;
}

.musicProfile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.musicProfile p, .musicProfile i {
    font-size: 13px; 
    color: #aaa; 
    margin: 0; 
}

audio {
    width: 100%; 
    height: 35px; 
    margin-top: 5px;
}

/* PLAYLIST SECTION */
.playlist {
    overflow: hidden; 
}

.playlist h5 {
    font-size: 1.6rem; 
    margin-bottom: 15px;
}

.playlistTrain {
    display: flex;
    gap: 16px;
    animation: scrollConveyor 50s linear infinite;
    width: calc(100% * 2);
}

.playlistItem {
    flex: 0 0 200px; 
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: filter 0.3s ease;
}

.playlistItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hover Effect */
.playlistItem:hover img {
    filter: brightness(0.8);
}

/* Conveyor Belt Animation */
@keyframes scrollConveyor {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
